<!--<img src="/assets/a.png">-->
<%= image_tag 'header.jpg', class: "headerimg" %>

<p> 


<%= image_tag (src='aicon2.png'),class: "icon" %>
<%=  link_to 'ツイート',new_tweet_path, class: "twitter1" %>
<%=  link_to 'フォロー',new_tweet_path, class: "twitter1" %>
<%=  link_to 'フォロワー',new_tweet_path, class: "twitter1" %>
<%=  link_to 'いいね',new_tweet_path, class: "twitter1" %>


</p> 
